<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "codehab.it", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <!-- <li><%= link_to "home", root_path %></li>
          <li><%= link_to "about", about_path %></li> -->
          <% if current_user %>
            <li><a href="<%= profile_url %>" target="_blank">signed in as <%= current_user.name %></a></li>
            <li><%= link_to "sign out", signout_path %></li>
          <% else %>
            <li><%= link_to "sign in with GitHub", "/auth/github" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>